[submodule "codeDiff/mariadb/mariadb2tidb"]
	path = codeDiff/mariadb/mariadb2tidb
	url = https://github.com/developer-Bushido/mariadb2tidb.git
[submodule "codeDiff/mariadb/go-mysql"]
	path = codeDiff/mariadb/go-mysql
	url = https://github.com/go-mysql-org/go-mysql.git
[submodule "codeDiff/mysql/mysql-server"]
	path = codeDiff/mysql/mysql-server
	url = https://github.com/mysql/mysql-server.git
[submodule "codeDiff/mariadb/mariadb-server"]
	path = codeDiff/mariadb/mariadb-server
	url = https://github.com/MariaDB/server.git
